		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-2 col-sm-2 col-xs-6">
						<div class="footer-logo-wrapper">

							<a href="index.html" class="logo-image ">
								<img src="/img/logos/logo.png" alt="logo">
							</a>

							<p class="slogan"> Đơn giản.
								<br>Hiệu quả.
								<br>Chuyên nghiệp.
							</p>

						</div>
					</div>

					<div class="col-md-2 col-sm-2 col-xs-6">
						<ul class="social helper center">
						    <li>
						    	<a href="https://www.facebook.com/vinacart">
						    		<i class="fa fa-facebook"></i>
						    	</a>
						    </li>
						    <li>
						    	<a href="http://www.twitter.com/vinacart">
						    		<i class="fa fa-twitter"></i>
						    	</a>
						    </li>
						    <li>
						    	<a href="http://www.youtube.com/user/vinacart/videos">
						    		<i class="fa fa-youtube"></i>
						    	</a>
						    </li>
						</ul>
					</div>

					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="footer-wrapper">

							<span class="scroll-top js-scroll-top">
								<i class="fa fa-angle-up"></i>
							</span>

							<!--<div class="docs-version js-docs-version">
								
								<ul class="js-docs-version-list">
									<li>
										<a href="#">v1.2.3</a>
									</li>
								</ul>
							</div>-->

							<ul class="footer-menu helper right">
								<li>
									<a href="http://www.vinacart.net"> Trang chủ </a>
								</li>
								<li>
									<a href="http://docs.vinacart.net"> Tài liệu </a>
								</li>
								<li>
									<a href="http://www.vinacart.net/p/download.html"> Download </a>
								</li>
								<li>
									<a href="#">Khởi nghiệp</a>
								</li>
							</ul>

							<p class="copyright helper right"> VinaCart, all rights reserved. 2016 &copy; </p>

						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script src="/js/all.js"></script>
	<script src="/js/custom.js"></script>
	{% include google_analytics.html %}
