<li>
    <a href="/pages/install/installation_options.html">Cài đặt</a>
    <ul>
    	<li>
    		<a href="/pages/install/installation_options.html">Tùy chọn cài đặt</a>
    	</li>
    	
    	<li>
    		<a href="/pages/install/system_requirements.html">Yêu cầu hệ thống</a>
    	</li>
    	<li>
    		<a href="/pages/install/download.html">Tải mã nguồn</a>
    	</li>
    </ul>
</li>
<li>
    <a href="/pages/quickstart/checklist.html">Bắt đầu</a>
    <ul>
    	<li>
    		<a href="/pages/quickstart/checklist.html">Kiểm tra cài đặt cơ bản</a>
    	</li>
    	<li>
    		<a href="/pages/quickstart/settings.html">Cài đặt Cửa hàng</a>
    	</li>
    	<li>
    		<a href="/pages/quickstart/payment_quick_start.html">Kích hoạt thanh toán</a>
    	</li>
    	<li>
    		<a href="/pages/quickstart/shipping_quick_start.html">Kích hoạt vận chuyển</a>
    	</li>
    	<li>
    		<a href="/pages/quickstart/email_settings.html">Cài đặt email</a>
    	</li>
    </ul>
</li>
<li>
    <a href="/pages/catalog/index.html">Hướng dẫn sử dụng
    	<!-- <span class="menu-label">v1.0</span> -->
    </a>
    <ul>
    	<li>
    		<a href="/pages/catalog/products/search.html">Quản lý Sản phẩm</a>
    	</li>
    	<li>
    		<a href="/pages/customers/search.html">Quản lý khách hàng</a>
    	</li>
    	<li>
    		<a href="/pages/promotions/specials.html">Quản lý khuyến mãi</a>
    	</li>
    	<li>
    		<a href="/pages/orders/search.html">Quản lý đơn hàng</a>
    	</li>
    	<li>
    		<a href="/pages/settings/settings.html">Chỉnh sửa Cài đặt</a>
    	</li>
    	<li>
    		<a href="/pages/localization/languages/languages.html">Quản lý địa phương</a>
    	</li>
    	<li>
    		<a href="/pages/embed/embed.html">Nhúng cửa hàng</a>
    	</li>
    	<li>
    		<a href="/pages/reports/index.html">Báo cáo cửa hàng</a>
    	</li>
    	
    </ul>
</li>
<li>
    <a href="/pages/design/index.html">Hướng dẫn thiết kế</a>
    <ul>
    	<li>
    		<a href="/pages/design/templates/select.html">Quản lý giao diện</a>
    	</li>
    	<li>
    		<a href="/pages/design/layouts.html">Quản lý bố cục trang</a>
    	</li>
    	<li>
    		<a href="/pages/design/blocks/search.html">Quản lý Blocks</a>
    	</li>
    	<li>
    		<a href="/pages/design/menu.html">Quản lý Menu</a>
    	</li>
    	<li>
    		<a href="/pages/design/blocks/banner_block.html">Quản lý Banners</a>
    	</li>
    	<li>
    		<a href="/pages/design/blocks/forms_block.html">Quản lý Forms</a>
    	</li>
    </ul>
</li>
<!--
<li>
    <a href="/pages/developer/index.html">Developer Guide</a>
    <ul>
    	<li>
    		<a href="/pages/developer/architecture.html">Architecture</a>
    	</li>
    	<li>
    		<a href="/pages/developer/extension_dev.html">Extension Development</a>
    	</li>
    	<li>
    		<a href="/pages/developer/templates_overview.html">Templates Overview</a>
    	</li>
    	<li>
    		<a href="/pages/developer/template_customization_or_development_guide.html">Developing Templates</a>
    	</li>
    	<li>
    		<a href="/pages/developer/template_dev_tools.html">Developer Tools</a>
    	</li>
    	<li>
    		<a href="/pages/developer/sf_api.html">Storefront API</a>
    	</li>
    </ul>
</li>
-->
<li>
    <a href="http://docs.vinacart.net">Hướng dẫn sửa lỗi</a>
</li>
