---
layout: default
title: Sửa giao diện cửa hàng
description: Sửa cài đặt giao diện cửa hàng
redirect_from: "/tag/edit_storefront_template.html"
tags: [
    ['set_storefront_template', 'Select Storefront Template'],
    ['layout', 'Quản lý các bố cục trang'],
    ['menu_listing', 'Sửa Menu'],
    ['block_listing', 'Danh sách Blocks'],
]
---
<!-- Video -->
<iframe class="video js-responsive-video" src="https://www.youtube.com/embed/YRlEHdmQM34?showinfo=0" style="border:0" allowfullscreen></iframe>
<!-- End of Video -->

						<!-- Category Info -->
						<div class="category-info ">
							<h3 class="category-title">Thay đổi cài đặt template</h3>
							<h4 class="category-description"> Trong vùng Admin truy cập Design > Templates and và nhấn nút sửa <i class="fa fa-gear fa-lg"></i> </h4>
							<p>
</p>
<p><strong>Storefront Site Width :</strong> Chiều rộng hiển thị web. VD: 100% hoặc 1000px.</p>
<p><strong>Store Logo:</strong> logo bạn muốn hiển thị trên phần đầu của cửa hàng. In order to set a logo simply Click on image to change it<input id="settingFrm_config_logo" type="hidden" name="config_logo" value="image/18/73/3.gif" /> Để thiết lập một logo chỉ đơn giản nhấn vào ảnh để thay đổi nó và một cửa sổ sẽ xuất hiện cho phép bạn tải một bức ảnh bạn muốn từ máy tính hoặc chọn một ảnh đã upload trước đó.</p>
						<!-- Note -->
						<div class="note js-note blue">
							<span class="note-close js-close">
								<i class="fa fa-times"></i>
							</span>
							<h4 class="note-title"> Chú ý </h4>
							<p class="note-description"> Lưu ý cần nhấn nút lưu sau khi đã thay đổi logo.</p>
						</div>
						<!-- End of Note -->
<p><strong>Icon:</strong> <span class="c1">Một Favicon icon để hiển thị trên cửa sổ trình duyệt. Nên sử dụng dạng PNG 16px x 16px.</span></p>
<p>Hình ảnh sản phẩm được tự động điều chỉnh kích thước , vì vậy bạn chỉ cần tải lên một hình ảnh cho sản phẩm và nó sẽ thay đổi với những kích thước bạn chỉ định dưới đây :</p>
<p>*<strong>Product Image Thumb Size:</strong> Mặc định là 380x380. Hình ảnh chính cho sản phẩm trên trang sản phẩm.</p>
<p>*<strong>Large Window Preview Size:</strong> Mặc định 500x500. Thay đổi kích thước zoom trên trang sản phẩm.</p>
<p>*<strong>Category List Size:</strong> Mặc định 120x120. Kích thước ảnh đại diện của các danh mục con (Subcategory ).</p>
<p>*<strong>Product List Size:</strong> Mặc định 250x250. Ảnh các sản phẩm trong danh sách liệt kê.</p>
<p>*<strong>Additional Product Image Size:</strong> Mặc định 45x45. Trên trang thông tin sản phẩm.</p>
<p>*<strong>Related Product Image Size:</strong> Mặc định 120x120. Trên trang thông tin sản phẩm.</p>
<p>*<strong>Cart Image Size:</strong> Mặc định 75x75. Kích thước hình ảnh sản phẩm trên trang giỏ hàng.</p>
<p>*<strong>Grid Image Size:</strong> Mặc định 57x57.</p>
<p>Sau khi bạn đã thực hiện những thay đổi của bạn, chọn nút lưu</p>
						</div>
						<!-- End of Category Info -->