---
layout: default
title: Quản lý Template 
description: Kích hoạt giao diện cho cửa hàng
redirect_from: "/tag/set_storefront_template.html"
tags: [
    ['edit_storefront_template', 'Edit Storefront Template'],
    ['layout', 'Quản lý bố cục các trang'],
    ['menu_listing', 'Sửa Menu'],
    ['block_listing', 'Danh sách Blocks'],
]
---

						<!-- Category Info -->
						<div class="category-info ">
							<h3 class="category-title">Thay đổi giao diện cho cửa hàng của bạn</h3>
							<h4 class="category-description"> Trên Admin vào Design > Templates </h4>
							<p>
</p>
<p class="box-description"><a class="jcepopup" href="/img/pages/vinacart-template-select.png"><img src="/img/pages/vinacart-template-select.png" border="0" width="600" /></a></p>
						</div>
						<!-- End of Caregory Info -->
						
						
						
						<p>Để thiết lập template trên web nhấn nút <i class="fa fa-toggle-off"></i> <br>
						Để sửa template logo, favicon, kích thước thumbnails nhấn nút sửa <i class="fa fa-gear fa-lg"></i> <br>
						 </p>
						
	
						<!-- Note -->
						<div class="note js-note blue">
							<span class="note-close js-close">
								<i class="fa fa-times"></i>
							</span>
							<h4 class="note-title"> Thông tin </h4>
							<p class="note-description"> Trong khu vực admin của cửa hàng truy cập Extensions > Templates kiểm tra và kích hoạt một extension theme đã cài đặt. </p>
						</div>
						<!-- End of Note -->
						
						
						
						
						
						<!-- Category Info -->
						<div class="category-info ">
							<h3 class="category-title">Thay đổi bố cục template</h3>
							<h4 class="category-description"> Trên Admin truy cập Design > Layouts </h4>
							<p>Nếu bạn đang tìm cách vô hiệu hóa, chỉnh sửa hoặc di chuyển vị trí blocks trên admin truy cập Design > Layouts. Sau đó chọn giao diện sử dụng mặc định.</p>
						</div>
						<!-- End of Caregory Info -->